.titulo {
    font-size: 30px;
    text-align: center;
}

#informacion {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    line-height: 175%;
}

#proctor {
    width: 25%;
    height: 30%;
}